:root{
  --color-white: #fff;
  --color-red: #e63636;
  --color-dark1: #181818;
  --color-dark2: #1e1e1e;
  --color-purple1: #9333ff;
  --color-purple2: #indigo;
}
*{
  padding:0;
  margin:0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-dark1);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.content{
  background-color: var(--color-dark2);
  padding:2em;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;

}
h1{
  margin-bottom: 1rem;
  text-align: center;
}
.content form{
  display:flex;
  flex-direction: column;


}
.spam-required{
  display: none;

}
.inputs{
  padding:8px 5px;
  outline: none;
  border-radius:5px;
  background-color: var(--color-dark1);
  border: sooloid 2px var(--color-dark1);
  color: var(--color-dark1);
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;

}
.inputs:focus{
  border-color: var(--color-purple1);
}
button[type="submit"]{
  background-color: var(--color-purple1);
  color: var(--color-white);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}